# Adult data exploring

### import dependeces

In [2]:
import pandas as pd

### Open file

In [71]:
df = pd.read_csv("adult.data.csv")
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [70]:
races_count = df["race"].count()
races_count

32561

### What is the average age of men?

In [5]:
average_age_men = df[df['sex'] == "Male"]["age"].mean()
average_age_men

39.43354749885268

### What is the percentage of people who have a Bachelor's degree?

In [6]:
bachelor_degree = df[df['education'] == "Bachelors"].shape[0]
total_people = df.shape[0]

bachelor_percentage = (bachelor_degree / total_people) * 100

bachelor_percentage

16.44605509658794

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [80]:
higher_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

higher_education_rich = round(
    higher_education[higher_education["salary"] == ">50K"].shape[0] / higher_education.shape[0] * 100, 1)

higher_education_rich

46.5

### What percentage of people without advanced education make more than 50K?

In [74]:
lower_education = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]
lower_education_rich = (
    lower_education[lower_education["salary"] == ">50K"].shape[0] / lower_education.shape[0]
) * 100

lower_education_rich

17.3713601914639

### What is the minimum number of hours a person works per week?

In [27]:
minimum_hour = df["hours-per-week"].min()
minimum_hour

1

### What percentage of people who work the minimum number of hours per week have a salary of more than 50K

In [30]:
num_min_workers = df[
    (df["hours-per-week"] == minimum_hour) & (df["salary"] == ">50K")
].shape[0]

rich_percentage = (num_min_workers / total_people) * 100

rich_percentage

0.006142317496391388

### What country has the highest percentage of people that earn >50K and what is that percentage?

In [60]:
highest_earning_country = df[df["salary"] == ">50K"].groupby("native-country")["salary"].count().idxmax()
highest_earning_country

'United-States'

In [53]:
highest_earning_country_percentage = (
    df[df["salary"] == ">50K"].groupby("native-country")["salary"].count().max()
    / df[df["salary"] == ">50K"]["salary"].count()
) * 100

highest_earning_country_percentage

91.45517153424308

### Identify the most popular occupation for those who earn >50K in India

In [76]:
top_IN_occupation = (
    df[(df["native-country"] == "India") & (df["salary"] == ">50K")]
    .groupby("occupation")["salary"]
    .count()
    .idxmax()
)
top_IN_occupation

'Prof-specialty'