# Adult data exploring

### import dependeces

In [1]:
import pandas as pd

### Open file

In [4]:
df = pd.read_csv("adult.data.csv")
df.head(4)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [7]:
races_count = df["race"].value_counts()
races_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

### What is the average age of men?

In [8]:
average_age_men = df[df['sex'] == "Male"]["age"].mean()
average_age_men

39.43354749885268

### What is the percentage of people who have a Bachelor's degree?

In [20]:
bachelor_degree = df[df['education'] == "Bachelors"].shape[0]
total_people = df.shape[0]

bachelor_percentage = (bachelor_degree / total_people) * 100

bachelor_percentage

16.44605509658794

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [26]:
higher_education = df[df["education"].isin(["Bachelors", "Master", "Doctorate"])]

higher_education_rich = (
    higher_education[higher_education["salary"] == ">50K"].shape[0] / total_people
) * 100

higher_education_rich

7.760818156690519

In [28]:
lower_education = df[~df["education"].isin(["Bachelors", "Master", "Doctorate"])]
lower_education_rich = (
    lower_education[lower_education["salary"] == ">50K"].shape[0] / total_people
) * 100

lower_education_rich

16.32013758791192